xml-schemas/PURCHASEORDERS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="xml">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EdiPartnerCode" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Identifies the sender of this document. It will be defined by QTRADO Logistics IT department and given to you. Max. 20 characters of type string</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="20" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="TenantId" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Customer Number. It will be defined by QTRADO Logistics sales department and given to you. Max. 20 characters of type string</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="20" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FileType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>File Type constants: PURCHASEORDERS</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="PURCHASEORDERS" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Date" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Creation date. Format DD.MM.YYYY or DD-MM-YYYY or DD/MM/YYYY</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="([0]?[0-9]|[12][0-9]|[3][01])[./-]([0]?[1-9]|[1][0-2])[./-]([0-9]{4}|[0-9]{2})" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>              
              <xs:element name="Remotesystem" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Identifies the sending system, e.g. a Webshop. It will be defined by QTRADO Logistics IT department and given to you. Max. 20 characters of type string</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="20" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PurchaseOrders" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PurchaseOrder" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Document_Type" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Document type, reserved for internal use</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="CustomerOrderNo" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Your Purchase Order Number, this is the number from your ERP, we communicate with you using this number, max. 35 characters</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ExpectedReceiptDate" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>When is the delivery scheduled ? Format DD.MM.YYYY or DD-MM-YYYY or DD/MM/YYYY or empty (null)</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="([*]{0})|([0]?[0-9]|[12][0-9]|[3][01])[./-]([0]?[1-9]|[1][0-2])[./-]([0-9]{4}|[0-9]{2})" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ReferenceText" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Reference Text, e.g your customers order no, max. 35 characters</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="VendorShipmentNo" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Shipment Number from your Vendor, max 35 characters</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ShippedFromName" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Ship from Name, max. 50 characters</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ShippedFromName2" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Ship from Name 2, max. 50 characters</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ShippedFromContact" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Ship from contact person, max. 50 characters</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ShippedFromAddress" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Line 1 of ship from address, e.g. streetname, department etc., max. 50 characters</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ShippedFromAddress2" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Line 2 of ship from address, e.g. streetname, department etc., max. 50 characters</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ShippedFromPostCode" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Ship from Post Code, max. 20 characters</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="20" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ShippedFromCity" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Ship from City, max. 30 characters</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="30" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ShippedFromCounty" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Ship from County, max. 30 characters</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="30" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ShippedFromCountryRegionCode" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Country code, 2 digits ISO, e.g. DE, AT, CH, GB</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ShippedFromEmail" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Vendor e-mail, max. 80 characters</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>                    
                    <xs:element name="Comment" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Additional Information, Comment</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">                          
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Attachments" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Attachment" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Documents in PDF-format</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Description" />
                                <xs:element name="Path" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Filename, e. g. DeliveryNote.pdf, invoice.pdf.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Products" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Product" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CustomerLineNo" type="xs:unsignedInt" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Line number of your Purchase Order Line</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="DepositCustomerItemNo" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Your product number, max. 30 characters</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="30" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Description1" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Purchase Order Line description 1, max. 50 characters</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Description2" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Purchase Order Line description 2, max. 50 characters</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Quantity" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Quantity that will be delivered</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d+(,\d+)?" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="UnitOfMeasureCode" type="xs:string" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>unit of measure, e. g. pcs, meter, kg, this value has to be mapped to our internal value, default is pieces (pcs)</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="QtyPerUnitOfMeasure" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>how many base units of measure does this unit of measure contain ? e. g. base unit is 1 pcs, the unit of measure 10pack contains 10 base units, defaults to 1</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d+(,\d+)?" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>                                
                                <xs:element name="LotNo" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Lot Number for item tracking, max 20 characters</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="20" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="SerialNo" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Serial Number for item tracking, max 20 characters</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="20" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ExpirationDate" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Best/use until, Format DD.MM.YYYY or DD-MM-YYYY or DD/MM/YYYY or empty (null)</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="([*]{0})|([0]?[0-9]|[12][0-9]|[3][01])[./-]([0]?[1-9]|[1][0-2])[./-]([0-9]{4}|[0-9]{2})" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>                                
                              </xs:sequence>                              
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
